@import "_nullStyle.scss";
@import "_headerstyle.scss";



@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');


body{


}

#wrapper{
	width: 100vw;
	height: 100vh;
	border: 1px solid #f00;
	display: flex;
	justify-content: center;
	align-items: center;
//	position: relative;
	& > span{
		position: absolute;
		display: none;
		box-shadow: 0 0 15px #f00;
	}
}



.count {
	display: flex;
	position: absolute;
	flex-direction: column;
	right: 0px;
	top: 10px;
	& span{
		box-shadow: none;;
		color: #fff;
		margin: 3px 0;
	}
	& p{
		color: #fff;
		margin: 3px 0;
	}
}

#playerLife{
	position: relative;
	display: inline-block;
	height: 10px;
	width: 80px;
	border: 1px solid #f00;
	background: rgba(206, 135, 222, 0.4);
	overflow: hidden;
	& #lifeRow{
		position: absolute;
		display: inline-block;
		width: 40%;
		height: 100%;
		background: #47B932;
		margin: 0 0;
		top: 0px;
		left: 0px;
	}
}

#playerWeapon{
	height: 20px;
	width: 50px;
	& img{
	//	display: inline-block;
	//	transform: rotate(90deg);
		width: 100%;
		height: 100%;
	}
}

#weaponIconLazer{

}
#weaponIconRocket{
	display: none;
}



#game{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #000;
	position: relative;
	widows: 100%;
	height: 100%;
}

.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(32, 107, 175 , 0.9);
	transform: translate(0%, 0);
	transition: 0.5s;
}
._hiden{
	transform: translate(-100%, 0);
}

///Info box==========================
.infoBox{
	visibility: hidden;
	position: absolute;
	width: 350px;
	height: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(190, 211, 235,1);
	overflow: auto;
	padding: 10px;
	z-index: 100;
	transition: 0.4s;
	opacity: 0;
	box-shadow: 0 0 15px rgba(117, 32, 175, 1),
				0 0 25px rgba(117, 32, 175, 1),
				0 0 45px rgba(117, 32, 175, 1),
				inset 0 0 15px rgba(117, 32, 175, 1);
	& .closeInfo{
		background:rgba(243, 54, 35,0.7);
		position: fixed;
		top: 10px;
		right: 10px;
		padding: 0 4px;
		border-radius: 5px;
		color: rgba(31, 31, 35, 1);
		box-shadow: 0 0 15px rgba(117, 32, 175, 1),
				0 0 25px rgba(117, 32, 175, 1);
	}
	& p{

	}
	&__content {
		

	}
}

.infoBox-block {
	margin: 0 0 10px 0;
	background: rgba(217, 180, 225, 1);
	padding: 10px;
}
.title {
	text-transform: uppercase;
	color: rgba(237, 57, 13, 1);
	font-weight: bold;
	letter-spacing: 3px;
	margin: 0 0 5px 0;
	text-align: center;
}
.infoBox-text {
	letter-spacing: 1px;

	& p{
		display: inline-block;
		margin: 0 0 10px 0;
		& span{
			display: inline-block;
			width: 20px;
			height: 20px;
			& img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	
}



///Info box==========================

///Buttons styles===============================
._button{
	position: absolute;
	background: rgba(242, 124, 26 , 0.6);
	padding: 5px 10px;
	letter-spacing: 4px;
	border-radius: 10px;
	text-transform: uppercase;
	transition: 0.5s;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 15px rgba(117, 32, 175, 1),
				0 0 25px rgba(117, 32, 175, 1);
	&:hover{
		background: rgba(26, 242, 81 , 0.5);
	}
}
///Buttons styles===============================

//Start button=================
.start{
	top: 50%;
	left: 50%;
}

._started{
//	transition: 1s;
	top: 40px;
	left: 50px;
}

//Start button=================

.optionBox{
	position: absolute;
	top:65%;
	left: 50%;
	visibility: visible;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.5s;
}


.optionBytton {
	background: rgba(242, 124, 26 , 0.6);
	padding: 4px;
	letter-spacing: 4px;
	border-radius: 10px;
	text-transform: uppercase;
	transition: 0.5s;
	color: #fff;
	box-shadow: 0 0 15px rgba(117, 32, 175, 1),
				0 0 25px rgba(117, 32, 175, 1);
	margin: 10px 0 0 0;
	&:hover{
		background: rgba(26, 242, 81 , 0.5);
	}
}


.info{
	top:60%;
	left: 50%;
	visibility: visible;

}
._hidenButton{
	visibility: hidden;
	top: 80px;
	left: 40px;
	& button{
		visibility: hidden;
	}
}


/////////Option Block=====================

.optionCover {
	visibility: hidden;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 00px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:rgba(178, 92, 238, 1);
	overflow: auto;
	padding: 10px;
	z-index: 100;
	transition: 0.4s;
	opacity: 0;
	box-shadow: 0 0 15px rgba(117, 32, 175, 1),
				0 0 25px rgba(117, 32, 175, 1),
				0 0 45px rgba(117, 32, 175, 1),
				inset 0 0 15px rgba(117, 32, 175, 1);
}
.closeOption {
	background:rgba(243, 54, 35,0.7);
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 0 4px;
	border-radius: 5px;
	color: rgba(31, 31, 35, 1);
	box-shadow: 0 0 15px rgba(117, 32, 175, 1),
			0 0 25px rgba(117, 32, 175, 1);
}


._activeInfoBox{
	visibility: visible;
	opacity: 1;
	height: 220px;
}

._musicSound{
	width: 140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;
	& p{
		display: inline-block;
		font-size: 15px;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #E7D4F4;
	}
	& span{
		display: inline-block;
		cursor: pointer;
		border: 2px solid #244A1F;
		width: 40px;
		height: 30px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

}

.soundChanges {
}
.music {
}


/////////Option Block=====================



///Arrows==========================================
.left {
	width: 45px;
	height: 45px;
	border-right: 45px solid #f00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	left: 20px;
	bottom: 85px;

}
.right {
	width: 45px;
	height: 45px;
	border-left: 45px solid #f00;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;

	right: 20px;
	bottom: 85px;
}
.top {
	width: 45px;
	height: 45px;
	border-bottom: 45px solid #f00;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	bottom: 20px;
	right: 45px;
}
.down {
	width: 45px;
	height: 45px;
	border-top: 45px solid #f00;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	left: 45px;
	bottom: 20px;
}


.galery {
	& img{
		display: none;
	}
}


